<form action="index.php?step=step4" method="post"><div class="huanjing">
<h3><span>环境信息</span></h3>
<table width="80%" border="0" cellspacing="0" cellpadding="8">
  <tr>
    <td width="20%"><strong>数据库主机</strong></td>
    <td width="80%"><label for="mysql_host"></label>
      <input name="mysql_host" type="text" class="input" id="mysql_host" value="localhost"></td>
  </tr>
  <tr>
    <td><strong>数据库用户名</strong></td>
    <td></span>
      <input type="text" name="mysql_name" class="input" id="mysql_name"></td>
  </tr>
  <tr>
    <td><strong>数据库密码</strong></td>
    <td><input type="text" name="mysql_pwd" class="input" id="mysql_pwd"></td>
  </tr>
  <tr>
    <td><strong>数据库名称</strong></td>
    <td><input type="text" name="mysql_db" class="input" id="mysql_db"></td>
  </tr>
  <tr>
    <td><strong>数据库表前缀</strong></td>
    <td><input name="mysql_pre" type="text" class="input" id="mysql_pre" value="kq_"></td>
  </tr>
</table>


</div>
<div class="aciton_btn">

<a href="index.php?step=step2" class="ac_btn">返回上一步</a><input name="" class="ac_btn" type="submit" value="安装下一步">
</div><!--btn-->
</form>