<div class="in_r_xieyi">
	
  <p>版权所有 (c)2013-2014，www.kong-qi.com 保留所有权利。 </p>
  <p>感谢您选择空气管理系统（以下简称KQ），KQ是目前国内最强大、最稳定的展示类/资讯/学校/形象产品/企业类网站等建设解决方案之一，基于主流技术PHP + MySQL下开发的。</p>
  <p>KQ 的官方网址是： <a href="http://www.kong-qi.com" target="_blank">wwwkong-qi.com</a></p>
  <p>为了使你正确并合法的使用本软件，请你在使用前务必阅读清楚下面的协议条款：</p>
  <strong>一、协议规定的约束和限制 </strong>
  <p>1、未获商业授权之前，不得将本软件用于商业用途（包括但不限于企业网站、经营性网站、以营利为目的或实现盈利的网站）。购买商业授权请访问<a href="http://www.kong-qi.com" target="_blank">www.kong-qi.com</a> 了解最新说明。</p>
  <p>2、未经官方许可，不得对本软件或与之关联的商业授权进行出租、出售、抵押或发放子许可证。</p>
  <p>3、不管你的网站是否整体使用 KQ ，还是部份栏目使用 KQ，在你使用了 KQ 的网站主页上必须加上 KQ   官方网址(<a href="http://www.kong-qi.com" target="_blank">www.kong-qi.com</a>)的链接。</p>
  <p>4、未经官方许可，禁止在 KQ   的整体或任何部分基础上以发展任何派生版本、修改版本或第三方版本用于重新分发。</p>
  <p>5、如果您未能遵守本协议的条款，您的授权将被终止，所被许可的权利将被收回，并承担相应法律责任。 </p>
  <strong>三、有限担保和免责声明 </strong>
  <p>1、本软件及所附带的文件是作为不提供任何明确的或隐含的赔偿或担保的形式提供的。 </p>
  <p>3、电子文本形式的授权协议如同双方书面签署的协议一样，具有完全的和等同的法律效力。您一旦开始确认本协议并安装KQ，即被视为完全理解并接受本协议的各项条款，在享有上述条款授予的权力的同时，受到相关的约束和限制。协议许可范围以外的行为，将直接违反本授权协议并构成侵权，我们有权随时终止授权，责令停止损害，并保留追究相关责任的权力。</p>
  <p><strong>协议发布时间：</strong> 2014年5月20日</p>

</div>
<div class="aciton_btn">

<input name="" class="xieyi_ck" type="checkbox" value="" />我已经阅读协议<a href="index.php?step=step2" class="ac_btn xieyi">继续下一步</a>
</div><!--btn-->
